:root {
  // 默认主题
  --default-box-color: #f1f1f1;
  --default-text-color: #fff;
  --default-text-active-color: #26A69A;
  --default-border-color: #ebebeb;
  --default-bg-color: #34495e;
  --default-hover-color: #ebebeb;
  --default-active-color: #ebebeb;
  --default-disabled-color: #ebebeb;
  --default-icon-color: #fff;
  --default-box-shadow-color: #ebebeb;
  --default-element-from-color: #26A69A;
  --default-menu-hover-color: #243341;
}